*body {
  font-size: 1rem;
}

.flex-container {
  padding-top: 24px;
  padding-left: 48px;
  padding-bottom: 24px;
  padding-right: 72px;
  border-bottom: 1px solid #eaeaea;
}

.links {
  display: block;
  color: #343434;
}

li {
  list-style: none;
}

.signin-btn {
  border-radius: 2px;
  border-color: #35b132 !important;
  color: #343434 !important;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #35b132 !important;
    color: white !important;
  }
}

.toogle-btn {
  display: none;
}

.dropdown-menu {
  display: none;
  text-align: center;
  overflow: hidden;
  height: 0;
}

.dropdown-menu.open {
  height: max-content;
}

.dropdown-menu li {
  padding: 16px 0px;
  border-bottom: 1px solid #bab9b9;
}

@media (max-width: 768px) {
  .flex-container {
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .flex-info,
  .flex-sign {
    display: none;
  }

  .dropdown-menu,
  .toogle-btn {
    display: block;
  }
}
