.ant-picker {
   .ant-picker-suffix {
      .icon {
         svg path {
            stroke: var(--color-neutral-3);
         }
      }
   }
   &.ant-picker-focused {
      .ant-picker-suffix {
         .icon {
            svg path {
               stroke: var(--color-blue-4);
            }
         }
      }
   }
}

.ant-picker-dropdown {
   .ant-picker-header-view {
      button {
         text-transform: capitalize;
         font-weight: 600;
      }
   }

   .ant-picker-body {
      th {
         text-transform: uppercase;
         font-weight: 600;
      }
   }
}
