:root {
  //
  // GREEN =================================
  //
  --color-green-0: #ecfdf3;
  --color-green-1: #dcfae6;
  --color-green-2: #8cd6b6;
  --color-green-3: #58c395;
  --color-green-4: #3eb984;
  --color-green-5: #359e71;
  --color-green-6: #23694b;
  --color-green-7: #1a4e38;
  --color-green-8: #113325;

  //
  // BLUE =================================
  //
  --color-blue-0: #8ed1ed;
  --color-blue-1: #77c1e0;
  --color-blue-2: #60b1d4;
  --color-blue-3: #3292bb;
  --color-blue-4: #1b82ae;
  --color-blue-5: #166b8f;
  --color-blue-6: #0d3d51;
  --color-blue-7: #082632;
  --color-blue-8: #030f13;

  //
  // NAVY =================================
  //
  --color-pink-1: #fff4fd;
  --color-pink-2: #facaf3;
  --color-pink-3: #f99aeb;
  --color-pink-4: #f77ae4;
  --color-pink-5: #f556de;
  --color-pink-6: #eb3dd1;
  --color-pink-7: #db13bd;
  --color-pink-8: #c00aa5;
  --color-pink-9: #720261;
  --color-pink-10: #32012b;

  //
  // BRAND =================================
  //
  --color-brand-1: #ecfdf3;
  --color-brand-2: #dcfae6;
  --color-brand-3: #8cd6b6;
  --color-brand-4: #58c395;
  --color-brand-5: #35b132;
  --color-brand-6: #1fa21d;
  --color-brand-7: #23694b;
  --color-brand-8: #1a4e38;
  --color-brand-9: #113325;
  --color-brand-10: #092b1d;

  //
  // ERROR =================================
  //
  --color-error-0: #ffdde0;
  --color-error-1: #f7bec3;
  --color-error-2: #e28990;
  --color-error-3: #ed3b4a;
  --color-error-4: #e12434;
  --color-error-5: #af2c37;
  --color-error-6: #761d25;
  --color-error-7: #5a161c;
  --color-error-8: #3d0f13;

  //
  // WARNING =================================
  //
  --color-warning-1: #f9debf;
  --color-warning-2: #f6ce9f;
  --color-warning-3: #efad5e;
  --color-warning-4: #ec9c3d;
  --color-warning-5: #eb912b;
  --color-warning-6: #ddc010;
  --color-warning-7: #d57a13;
  --color-warning-8: #a06609;
  --color-warning-9: #6a3b05;
  --color-warning-10: #3a2104;

  //
  // NEUTRAL =================================
  //
  --color-neutral-0: #ffffff;
  --color-neutral-0-1: #fafafa;
  --color-neutral-1: #f5f5f5;
  --color-neutral-2: #ededed;
  --color-neutral-3: #d3d8d6;
  --color-neutral-4: #aeb4b3;
  --color-neutral-5: #888d8e;
  --color-neutral-5-opac: #888d8e7b;
  --color-neutral-6: #6f7471;
  --color-neutral-7: #666b6d;
  --color-neutral-8: #3d4040;
  --color-neutral-9: #242626;
  --color-neutral-10: #0b0c0c;


  //SECONDARY
  --color-secondary-b100:#EAEAEA;
  --color-secondary-800:#707070;


  //
  // gradient =================================
  //
  --color-gradient-1: linear-gradient(189deg, #f854de 4.7%, #0798a3 100.12%);
}
